.App {
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input{
  width: 60vw;
  margin: 10px;
  font-size: 20px;
}

#task-text {
  padding: 0px;
  margin-right: 5px;
  height: 40px;
}

#dropdown {
  padding: 0px;
  height: 40px;
}

.form label {
  font-size: 25px;
}

.form select {
  font-size: 20px;
  margin-bottom: 10px;
}

.form button {
  padding: 10px;
}

.card {
  width: 80vh;
  height: 100px;
  margin: 10px;
}

.priority-low {
  border-left: 6px solid rgb(94, 141, 94);
  background-color: #e9fbe9;
}

.priority-medium {
  border-left: 6px solid rgb(255, 189, 65);
  background-color: #fff4e5;
}

.priority-high {
  border-left: 6px solid rgb(203, 79, 79);
  background-color: #ffe5e5;
}
